<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>fearcon</title>
		<script type="text/javascript" charset="utf-8" src="/js/jquery-1.2.6.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$("#fearcon > li").click( setStatus );
				$("#fearcon > li").fadeTo( 1, 0.25 );
				$("#fearcon{{current}}").fadeTo( 1, 1 );
			});
			
			function setStatus( e ) {
				$("#fearcon > li").fadeTo( 1, 0.25 );
				$(this).fadeTo( 1, 1 );
				$.post( '/update', { level: $(this).text() } );
			}
		</script>
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body id="index" onload="">
		<div id="name">
			<ul id="fearcon">
				{% for level in levels %}
					{% ifequal current level %}
						<li class="off" id="fearcon{{ level }}">{{ level }}</li>
					{% else %}
						<li class="off" id="fearcon{{ level }}">{{ level }}</li>
					{% endifequal %}
				{% endfor %}
			</ul>
			{% if login %}
				<a href="{{ login }}">login</a>
			{% endif %}
		</div>
	</body>
</html>