<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>{{ title }}</title>
		<script type="text/javascript" charset="utf-8" src="/js/jquery-1.2.6.min.js"></script>

		<script type="text/javascript" charset="utf-8">
			{% ifequal is_new_user 1 %}
			current_level = 0;
			{% else %}
			current_level = {{ current }};
			{% endifequal %}
			
			$(document).ready(function() {
				{% if logout and not noglobal %}
				$("#fearcon > li").click( setStatus );
				{% endif %}
				$("#fearcon > li").fadeTo( 1, 0.25 );
				$("#fearcon{{current}}").fadeTo( 1, 1 );
			});
			
			function setStatus( e ) {
				$("#fearcon > li").fadeTo( 1, 0.25 );
				$(this).fadeTo( 1, 1 );
				$.post( '/update_user', { level: $(this).text() } );
				$.post( '/update_total', { new_level: $(this).text(), old_level: current_level } );
				current_level = $(this).text();
			}
		</script>
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body id="index" onload="">
		<div id="name">
			<ul id="fearcon">
				{% for level in levels %}
					{% ifequal current level %}
						<li class="off" id="fearcon{{ level }}">{{ level }}</li>
					{% else %}
						<li class="off" id="fearcon{{ level }}">{{ level }}</li>
					{% endifequal %}
				{% endfor %}
			</ul>
			{% include 'nav.html' %}
		</div>
	</body>
</html>